{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('bundles/devbierescommonuser/css/signin.css') }}" />
{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post"
    class="form-signin" role="form" >
    {#<h2> {{ 'security.signin'|trans }} </h2>#}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    {# <label for="username">{{ 'security.login.username'|trans }}</label> #}
    <input type="text" id="username" name="_username" value="{{ last_username }}" 
          class='form-control' placeholder='{{ 'user.username'|trans }}' required="required" />

    {# <label for="password">{{ 'security.login.password'|trans }}</label> #}
    <input type="password" id="password" name="_password" 
          class='form-control' placeholder='{{ 'user.password'|trans }}' required="required" />

    {#
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    #}
    <label class="checkbox" >
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
    </label>

    {# <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /> #}
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" > {{ 'security.login.submit'|trans }} </button>

    <a href="{{ path('fos_user_registration_register') }}"
       class="btn btn-lg btn-success btn-block" role="button"    > 
             {{ 'security.registration.link'|trans }}
    </a>
</form>
{% endblock fos_user_content %}
