{% extends 'DevBieresCheckListHTMLViewBundle::layout.html.twig' %}

{% block body %}
<div class="row">
   <div class="col-md-6" >
        <h2> 
            {{ 'action.edit'|trans }}
           <div class="pull-right" >
               <a href="{{path('main')}}" class="btn btn-default" > {{ 'action.back'|trans }} </a>
           </div>
        </h2>
        {{ include('DevBieresCheckListHTMLViewBundle:Skeleton:form.html.twig', { 'form' : form, 'close': 0, 'edit':1 }) }}
   </div> {# La zone centrale #}
   <div class="col-md-6" >
        <h2>
           {{ 'skeleton.list'|trans }}
           <div class="pull-right" >
                {# 
                   <button class="btn btn-primary"
                       onClick="newSkeletonItem({{entity.id}});"
                       > {{ 'plus'|ico }} </button>
                #}
                {#
                <button class="btn btn-primary" data-toggle="modal" data-target="#skeleton_item_modal" > {{ 'plus'|ico }} </button>
                #}
                <button class="btn btn-primary" onClick="onNewItem({{ entity.id }})" > {{ 'plus'|ico }} </button>
           </div>
        </h2>
        <div id="newSubItem{{ entity.id }}" class="newitem" ></div>
        <div id="list" >
           {{ render(controller('DevBieresCheckListHTMLViewBundle:SkeletonItem:listItems', { 'id' : entity.id })) }}
        </div>
   </div>
</div>

{% endblock %}

{% block js %}
   {{ parent() }}
   <script src="{{ asset('./bundles/devbiereschecklisthtmlview/js/skeletonitem.js') }}" ></script>
   <script>
   var urlNew = "{{ path('skeleton_item_ajax_new', { 'id':'__id__' }) }}";
   </script>
{% endblock %}

