<table class="table table-hover table-striped table-bordered" >
    {% for i in list %}
        <tr>
            <td> 
                <h5>
                    {{ i }} 
                </h5>
                <div id="newSubItem{{ i.id }}" class="newitem" ></div>
            </td>
            <td class="three-actions" >
                 <button class="btn btn-default" 
                    onClick="newSkeletonItem({{i.id}});" > {{ 'plus'|ico }}
                 </button>
                 <button class="btn btn-default" 
                    onClick='del({{ i.parent.id }}, {{ i.id }});' > {{ 'trash-o'|ico }} 
                 </button>
            </td>
        </tr>
    {% else %}
        <tr> <br/>{{ 'skeleton_item.empty_list'|trans }} </tr>
    {% endfor %}
</table>

<script>
   var urlDel = "{{ path('skeleton_item_ajax_delete', { 'id':'__id__', 'itemId':'__item_id__' }) }}";
   var urlNewSubItem = "{{ path('skeleton_item_ajax_new', { 'id':'__id__' } ) }}";
</script>
