<table class="table table-hover table-striped table-bordered" >
    {% for i in list %}
        <tr class="{{ i.state | statecssclass }}" >
            <td> 
                <h4>
                    {{ i }} <br/>
                    <small> {{ i.description }} </small>
                </h4>
            </td>
            <td class="two-actions" >
                 <a class="btn btn-primary" href="{{ path('checklist_view', { 'id': i.id }) }}" > {{ 'eye'|ico }} </a>
                 <button class="btn btn-default" 
                    onClick='confirm("{{ 'message.confirm.delete'|trans }}", "{{ path('checklist_delete', { 'id' : i.id } ) }}");' > {{ 'trash-o'|ico }} </button>
            </td>
        </tr>
    {% else %}
        <tr><p class="lead"> {{ 'checklist.empty_list'|trans }} </p></tr>
    {% endfor %}
</table>
